@page

@{
    <form method="post">
        <h1>Добавить вопрос</h1>
        <label for="Event">Мероприятие</label>
        <p><input type="text" name="Event" value="" /></p>
        <label for="text">Текст вопроса</label>
        <p><input type="text" name="text" value="" /></p>
        <label for="correctAnswer">Правильный ответ</label>
        <p><input type="text" name="correctAnswer" value="" /></p>
        <p><input type="submit"/></p>
    </form>
}
