@page

@{   
    <h1>Ответ принят</h1>
}
<style>


    body {
        background: #232931;
    }



    h1 {
        color: #4ECCA3;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }




</style>