
@{ 
    ViewData["Title"] = "GET";
}


@{
        <form method="get">
            <p><b>Просмотр победителя</b></p>
            

            <p>Номер вопроса</p>
            <p><input type="text" name="questionNumber"  /></p>

            <p>Пароль</p>
            <p><input type="password" name="password"  /><p>

            <p><input type="submit"></p>
        </form>
}
