@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    <form method="get">
        <p> <a href="http://localhost:56236/KPDController/AddQuestion">Добавить вопрос</a></p>
        <p> <a href="http://localhost:56236/KPDController/AddAnswer">Добавить ответ</a></p>
        <p> <a href="http://localhost:56236/KPDController/CheckResult">Узнать победителя</a></p>
    </form>
}
